.mainwrapper {
    background-color: rgb(230,213,85);
    border-color: #EEE;
}
.panelp {
    border-color: #EEE;
}
.ponline, .padmin {
    min-height: inherit;
    clear: right;
}
.ponline {
    overflow: auto;
}
.qprogress {
    width: 270px;
    height: 40px; 
}